{% extends 'layout.html.twig' %} {% block title %} {{ parent() }} - Editer figurine {% endblock %} {% block content %}
<div class="container-fluid pt-3 text-center">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="../index">Accueil</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="../figurines">Produits</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../users">Clients</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="../orders">Commandes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../editCarousel">Carrousel</a>
        </li>
    </ul>
</div>
<section id="orderDetails">
    <div class="container p-3 text-center">
        <h3>Commande</h3>
        <table class="table table-hover table-bordered mt-3">
            <thead>
                <tr class="table-light">
                    <th scope="col">#</th>
                    <th scope="col">Nom de la figurine</th>
                    <th scope="col">Quantité</th>
                    <th scope="col">Prix</th>
                </tr>
            </thead>
            <tbody>
                {% for item in details %}
                <tr>
                    <th scopte="row">{{loop.index}}</th>
                    <td>{{item.figurine_name|slice(0, 15)~'...'}}</td>
                    <td>{{item.figurine_quantity}}</td>
                    <td>{{item.figurine_price * item.figurine_quantity}} €</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr class="text-center bg-light">
                    <td colspan="2"><strong>Date de création</strong></td>
                    <td colspan="2">{{order.order_date}}</td>
                </tr>
                <tr class="text-center bg-light">
                    <td colspan="2"><strong>Statut</strong></td>
                    <td colspan="2">{{order.status}}</td>
                </tr>
                <tr class="text-center bg-light">
                    <td colspan="2" class="text-center border border-2"><strong>Prix total</strong></td>
                    <td colspan="2">{{order.total_price}} €</td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="container-fluid p-3 text-center">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h1 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            Informations du client
          </button>
                </h1>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <div class="row">
                            <div class="col">
                                <h3>Nom:</h3>
                                <h3>{{order.user_name}}</h3>
                            </div>
                            <div class="col">
                                <h3>Email:</h3>
                                <h3><a href="#">{{order.user_email}}</a></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

{% endblock %}