{% extends 'layout.html.twig' %} {% block content %}
<section class="home-full-slider-wrapper mb-10">
    <div id="carouselExampleCaptions" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
                aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="5000">
                <img src="/{{ carousel.0.image }}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <img src="/{{ carousel.1.image }}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <img src="/{{ carousel.2.image }}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <img src="/{{ carousel.3.image }}" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Précédent</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Suivant</span>
        </button>
    </div>
</section>
<section>
    <div class="container-fluide pt-2">
        {% for figyua in figyuas %} {% if loop.first %}
        <div class="row mx-0">
            {% endif %}
            <div class="{{ loop.index > 2 ? " col-lg-4 " : " col-md-6 "}} mb-10 pt-2">
                <div class="card border-0 text-white text-center">
                    <img src="{{'/' ~ figyua.image_main }}" class="card-img" alt="..." height="625">
                    <div class="card-img-overlay d-flex flex-column justify-content-end">
                        <h2 class="dispaly-3 font-weight-bold mb-4 rounded"
                            style="text-shadow: 3px 0 0 #000, -3px 0 0 #000, 0 3px 0 #000, 0 -3px 0 #000, 2px 2px #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;">
                            {{ figyua.name }}</h2>
                        <a href="/Home/show/{{ figyua.id }}" class="btn btn-light">ACHETER MAINTENANT</a>
                    </div>
                </div>
            </div>
            {% if loop.index == 2 %}
        </div>
        <div class="row mx-0">
            {% endif %} {% if loop.last %}
        </div>
        {% endif %} {% endfor %}
    </div>
</section>
{% endblock %}