{% extends 'layout.html.twig' %} {% block content %}
<div class="container-fluid mt-5">
    <div class="row">
        <aside class="col-lg-9">
            {% if session.cart and session.cart is not empty %}
            <div class="card">
                <div class="table-responsive">
                    <table class="table table-borderless table-shopping-cart">
                        <thead class="text-muted">
                            <tr class="small text-uppercase">
                                <th scope="col">Produits</th>
                                <th scope="col" width="120">Quantité</th>
                                <th scope="col" width="120">Prix</th>
                                <th scope="col" class="text-right d-none d-md-block" width="200">
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody id="cartContent">
                            {% for art in cart %}
                            <tr data-id="{{ art.id }}" id="{{'card' ~ art.id}}">
                                <td>
                                    <figure class="itemside align-items-center">
                                        <div class="aside d-none d-md-flex">
                                            <img src="{{'../' ~ art.image_main }}" class="img-sm">
                                        </div>
                                        <figcaption class="info">
                                            <a href="/home/show/{{ art.id }}" class="title text-dark d-none d-md-flex" data-abc="true">{{ art.name }}</a>
                                            <a href="/home/show/{{ art.id }}" class="title text-dark d-flex d-md-none" data-abc="true">{{art.name | split(' ')[0]}}</a >
                      <p class="text-muted small"> Licences : {{ art.license_name }} <br /> Fabricant : {{ art.maker_name }}</p>
                    </figcaption>
                  </figure>
                </td>
                <td>
                  <div class="col text-center">
                    <form action="/cart/add" method="POST" id="{{'form' ~ art.id}}" >
                      <div id="{{'qty-group' ~ art.id}}" class="form-group" data-id="{{ art.id }}" >
                        <select class="form-select" aria-label="Default select example" name="qty" >
                          <option value="{{ art.qty }}" selected>
                            {{ art.qty }}
                          </option>
                          {% for i in 1..art.quantity %}
                          <option value="{{ i }}">{{ i }}</option>
                          {% endfor %}</select ><br />
                        <input name="confirm" value="Confirmer" type="submit"  class="btn btn-outline-info rounded-pill" style="background-color:#041A53" />
                      </div>
                    </form>
                  </div>
                </td>
                <td>
                  <div class="price-wrap">
                    <var class="price" data-price="{{ art.price }}" >{{ art.qty * art.price }} €</var >
                    <small class="text-muted">
                      {{ art.price }} € l'unité
                    </small>
                    <div class="text-right d-sm-flex d-md-none mt-2">
                      <form data-delete="true" action="/cart/deleteFromCart" method="POST" >
                        <input id="{{'delete' ~ art.id}}" type="submit" data-id="{{ art.id }}" class="btn btn-outline-danger rounded-pill me-2" data-abc="true" value="Supprimer" />
                      </form>
                </div>
              </div>
            </td>
            <td class="d-none d-md-flex text-right">
                <form data-delete="true" action="/cart/deleteFromCart" method="POST">
                    <input type="submit" data-id="{{ art.id }}" class="btn btn-outline-danger rounded-pill me-2" data-abc="true" value="Supprimer" />
                </form>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
              </div>
              {% else %}
              <div class="d-flex flex-column text-center">
                <h2 class="text-center">Votre panier est vide, ajoutez-y des figurines !</h2>
                <img class="m-auto" src="/assets/images/corbak.gif" alt="Caw caw">
                <div class="d-flex justify-content-center mt-3 mb-5">
                  <a href="/Home/figurines" class="btn btn-outline-info rounded-pill" style="background-color:#041A53">Boutique</a>
                </div>
            </div>
            {% endif %}
        </aside>
        <aside class="col-lg-3 text-center">
            <div class="card mb-3"></div>
            <div class="card">
                <div class="card-body">
                    <dl class="dlist-align">
                        <dt class="me-1">Prix total :</dt>
                        <dd class="text-right ml-3">{{ totalCart }} €</dd>
                    </dl>
                    <hr />
                    <a href="/home/order" class="btn btn-outline-info btn-main rounded-pill" data-abc="true">
            Passer au paiement</a
          >
          <a
            href="/home/figurines"
            class="btn btn-outline-success btn-main rounded-pill mt-2"
            data-abc="true"
            >Continuer les achats</a
          >
        </div>
      </div>
      <img
        src="/assets/images/plum-flotte.png"
        height="600px"
        width="300"
        class="mt-3"
      />
    </aside>
  </div>
</div>
<div
  id="addToCartAlert"
  style="position: fixed; top: 10%; right: 10%; max-width: 320px"
  class="toast border border-light bg-light"
  role="alert"
  aria-live="assertive"
  aria-atomic="true"
>
  <div class="text-center">
    <h3
      id="totalFig"
      class="rounded-circle bg-warning text-center"
      style="width: 3rem; position: relative; top: 2.7rem; left: 3rem"
    ></h3>
    <h3 class="text-center mt-2">
      <strong>Panier</strong>
    </h3>
    <button
      data-close="true"
      class="btn btn-secondary"
      style="width: auto; position: relative; top: -4rem; left: 8rem"
    >
      X
    </button>
  </div>
  <div class="toast-body">
    <h5 class="p-2" id="contentH5"></h5>
  </div>
</div>
<div
  id="removeFromCartAlert"
  style="position: fixed; top: 10%; right: 7%; max-width: 320px"
  class="toast border border-light bg-light"
  role="alert"
  aria-live="assertive"
  aria-atomic="true"
>
  <div class="text-center">
    <h3
      id="totalFig"
      class="rounded-circle bg-warning text-center"
      style="width: 3rem; position: relative; top: 2.7rem; left: 3rem"
    ></h3>
    <h3 class="text-center mt-2">
      <strong>Panier</strong>
    </h3>
    <button
      data-close="true"
      class="btn btn-secondary"
      style="width: auto; position: relative; top: -2rem; left: 8rem"
    >
      X
    </button>
  </div>
  <div class="toast-body">
    <h5 class="p-2" id="contentDeleteH5"></h5>
  </div>
</div>
{% endblock %} {% block javascript %}
<script src="/assets/scripts/cart.js"></script>
{% endblock %}